# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE
*.idea/
*.iml
.vscode/

# Supabase / secrets
*.env

# Release signing
   key.properties
   *.jks
   *.keystore